# Ignore Python virtual environment
myenv/

# Ignore environment variable files
.env

# Ignore Python cache files
_pycache_/
*.py[cod]

# Ignore package metadata and build folders
*.egg-info/
dist/
build/

#  Ignore Node.js files 
node_modules/